[Unit]
Description=Telegram high cpu usage alert
After=network-online.target
Wants=network-online.target
Requires=precreate_lockfiles.service
After=precreate_lockfiles.service

[Service]
Type=simple
User=telegram_gateway
ExecStart=/usr/local/bin/telegram/cpu_alert.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
