[Unit]
Description=Telegram notify journalctl error level err-crit-alert-emerg
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=telegram_gateway
ExecStart=/usr/local/bin/telegram/journalctl_notify.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target