[Unit]
Description=Telegram alert journald error (level err-crit-alert-emerg)
After=network-online.target
Wants=network-online.target
Requires=precreate-lockfiles.service
After=precreate-lockfiles.service

[Service]
Type=simple
User=telegram_gateway
SupplementaryGroups=systemd-journal
ExecStart=/usr/local/bin/telegram/journald_alert.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
