[Unit]
Description=Telegram gateway bot
After=network-online.target
Wants=network-online.target
Requires=precreate_lockfiles.service
After=precreate_lockfiles.service

[Service]
Type=simple
User=telegram_gateway
ExecStart=/usr/local/bin/service/telegram_gateway.sh
Restart=always
RestartSec=10
NoNewPrivileges=yes
ProtectSystem=strict
ReadWritePaths=/usr/local/etc/xray
ReadWritePaths=/var/log/xray
PrivateTmp=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
