[Unit]
Description=Timer for run time_block.service daily at 00:01

[Timer]
OnCalendar=*-*-* 00:01:00
Persistent=true
AccuracySec=1s
RandomizedDelaySec=10

[Install]
WantedBy=timers.target
