[Unit]
Description=Timer for run unattended_upgrade.service monthly on day 1 at 05:00-06:00

[Timer]
OnCalendar=*-*-01 05:00:00
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
