[Unit]
Description=Timer for run unattended_upgrade.service monthly on day 1 at 03:01

[Timer]
OnCalendar=*-*-01 03:01:00
Persistent=true
AccuracySec=1s
RandomizedDelaySec=0

[Install]
WantedBy=timers.target