[Unit]
Description=Service for running a script Telegram notify [user server traffic + remaining days], start via timer

[Service]
Type=oneshot
User=telegram_gateway
ExecStart=/usr/local/bin/telegram/user_notify.sh
