[Unit]
Description=Timer for run xray_backup.service monthly on day 1 at 01:01

[Timer]
OnCalendar=*-*-01 01:01:00
Persistent=true
AccuracySec=1s
RandomizedDelaySec=0

[Install]
WantedBy=timers.target
