[Unit]
Description=Service for running a script that backup xray configuration to Telegram, start via timer

[Service]
Type=oneshot
User=telegram_gateway
ExecStart=/usr/local/bin/service/xray_backup.sh
