[Unit]
Description=Timer for run xray_backup.service monthly on day 1 at 00:03

[Timer]
OnCalendar=*-*-01 00:03:00
Persistent=true
AccuracySec=1s
RandomizedDelaySec=10

[Install]
WantedBy=timers.target
