[Unit]
Description=Service for running a script who collect Xray traffic statistics
Requires=precreate_lockfiles.service
After=precreate_lockfiles.service

[Service]
Type=oneshot
User=telegram_gateway
ExecStart=/usr/local/bin/service/xray_statistics.sh
