[Unit]
Description=Service for running a script who update Xray and geo*.dat
Requires=precreate_lockfiles.service
After=precreate_lockfiles.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/service/xray_update.sh
